 rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // MODE TOTAL OPEN (Hanya untuk Tes 5 Menit)
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
